h1 {
    color: black;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.mainDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20vh;
}


@media (max-width: 768px) {
    .mainDiv {
        display: flex;
        flex-direction: column;
    }
}

h2 {
    text-align: center;
}

ul,
.currentListDiv {
    border: 1px solid black;
    margin: 5vh;
    padding: 10vh;
}

ul.pastListUl {
    display: flex;
    flex-direction: column;
}

.divDone {
    margin-bottom: 10px;
}

.currentListDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
